*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg{
    width: 100vw; 
    background-color: blue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: white;
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}
.counter{
    font-size: 40px;
    font-weight: 700;
    font-family: sans-serif;
    color: black;
    margin: 20px 0;
}
.btn{
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #007bff;
    color: white;
    transition: 0.3s;
}
.btn:hover{
    background: #0056b3;
}

